<div>
    <ul>
        {{#each list}}
        <li>
            <span>{{name}} - {{@index}}</span>
            <p>{{@key}}</p>
        </li>
        {{/each}}
    </ul>
    <hr>
    <ul>
        {{#each user}}
        <li>
            {{this}} {{#if @first}} First! {{/if}} {{#if @last}} Last! {{/if}}
        </li>
        {{/each}}
    </ul>
    <hr>
    <ul>
        {{#each user2}}
        <li>
            {{@key}} - {{value}} {{text}}
        </li>git
        {{/each}}
    </ul>
</div>