<header>
    <h1>{{name}}</h1>
    <hr>
    <em>{{description}}</em><br>
    <strong>{{price}}</strong> <br>
    <small>{{category}}</small>
    <hr>
</header>
<main>
    {{#with features}}
    <ul type="square">
        {{!-- Processor -------------------------------------------------------------- --}}
        <li>
            <div>
                <h4>Processor:</h4>
                {{#with processor}}
                <ul type="circle">
                    <li>
                        <i>brand: </i><b>{{brand}}</b>
                    </li>
                    <li>
                        <i>model: </i><b>{{model}}</b>
                    </li>
                    <li>
                        <i>speed: </i><b>{{speed}}</b>
                    </li>
                    <li>
                        <i>cores: </i><b>{{cores}}</b>
                    </li>
                    <li>
                        <i>cache: </i><b>{{cache}}</b>
                    </li>
                </ul>
                {{/with}}
            </div>
            <hr>
            <br>
        </li>

        {{!-- memory ---------------------------------------------------------------------- --}}

        <li>
            <div>
                <h4>Memory:</h4>
                {{#with memory}}
                <ul type="circle">
                    <li>
                        <i>type: </i><b>{{type}}</b>
                    </li>
                    <li>
                        <i>size: </i><b>{{size}}</b>
                    </li>
                    <li>
                        <i>speed: </i><b>{{speed}}</b>
                    </li>
                </ul>
                {{/with}}
            </div>
            <hr>
            <br>
        </li>

        {{!-- storage ---------------------------------------------------------------------- --}}

        <li>
            <div>
                <h4>Storage:</h4>
                {{#with storage}}
                <ul type="circle">
                    <li>
                        <i>type: </i><b>{{type}}</b>
                    </li>
                    <li>
                        <i>size: </i><b>{{size}}</b>
                    </li>
                </ul>
                {{/with}}
            </div>
            <hr>
            <br>
        </li>

        {{!-- display ---------------------------------------------------------------------- --}}

        <li>
            <div>
                <h4>Display:</h4>
                {{#with display}}
                <ul type="circle">
                    <li>
                        <i>size: </i><b>{{size}}</b>
                    </li>
                    <li>
                        <i>resolution: </i><b>{{resolution}} </b> px
                    </li>
                    <li>
                        <i>technology: </i><b>{{technology}}</b>
                    </li>
                    <li>
                        <i>color space: </i><b>{{color_space}}</b>
                    </li>
                    <li>
                        <i>brightness: </i><b>{{brightness}}</b>
                    </li>
                    <li>
                        <i>refresh_rate: </i><b>{{refresh_rate}}</b>
                    </li>
                </ul>
                {{/with}}
            </div>
            <hr>
            <br>
        </li>

        {{!-- graphics ---------------------------------------------------------------------- --}}

        <li>
            <div>
                <h4>Graphics:</h4>
                {{#with graphics}}
                <ul type="circle">
                    <li>
                        <i>brand: </i><b>{{brand}}</b>
                    </li>
                    <li>
                        <i>model: </i><b>{{model}}</b>
                    </li>
                    <li>
                        <i>memory: </i><b>{{memory}}</b>
                    </li>
                </ul>
                {{/with}}
            </div>
            <hr>
            <br>
        </li>

        {{!-- ports ---------------------------------------------------------------------- --}}

        <li>
            <div>
                <h4>Ports:</h4>
                <ol>
                    {{#each ports}}
                    <li>
                        <i>type: </i><b>{{type}}</b> <br>
                        <i>count: </i><b>{{count}}</b>
                        {{#if features}}
                        <div>
                            <u><i> features: </i></u>
                            <ul type="disc">
                                {{#each features}}
                                <li>
                                    {{this}}
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                </ol>
            </div>
            <hr>
            <br>
        </li>

        {{!-- battery ---------------------------------------------------------------------- --}}

        <li>
            <div>
                <h4>Battery:</h4>
                {{#with battery}}
                <ul type="circle">
                    <li>
                        <i>type: </i><b>{{type}}</b>
                    </li>
                    <li>
                        <i>capacity: </i><b>{{capacity}}</b>
                    </li>
                    <li>
                        <i>life: </i><b>{{life}}</b>
                    </li>
                </ul>
                {{/with}}
            </div>
            <hr>
            <br>
        </li>

        {{!-- weight ---------------------------------------------------------------------- --}}

        <li>
            <div>
                <h4>Weight:</h4>
                {{weight}}
            </div>
            <hr>
            <br>
        </li>

        {{!-- dimensions ---------------------------------------------------------------------- --}}

        <li>
            <div>
                <h4>Dimensions:</h4>
                {{#with dimensions}}
                <ul type="circle">
                    <li>
                        <i>height: </i><b>{{height}}</b>
                    </li>
                    <li>
                        <i>width: </i><b>{{width}}</b>
                    </li>
                    <li>
                        <i>depth: </i><b>{{depth}}</b>
                    </li>
                </ul>
                {{/with}}
            </div>
            <hr>
            <br>
        </li>

        {{!-- operating_system ---------------------------------------------------------------------- --}}

        <li>
            <div>
                <h4>Operating system:</h4>
                {{operating_system}}
            </div>
            <hr>
            <br>
        </li>

        {{!-- accessories ---------------------------------------------------------------------- --}}

        <li>
            <div>
                <h4>Accessories:</h4>
                <ol>
                    {{#each accessories}}
                    <li>
                        <i>name: </i><u>{{name}}</u> <br>
                        <i>price: </i><b>{{price}}</b>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <hr>
            <br>
        </li>

    </ul>

    {{/with}}
</main>