<header>
    {{#with page_header}}
    <h1 class="text-center">{{title}}</h1>
    <p class="text-center text-uppercase">{{description}}</p>
    {{/with}}
</header>
<section>
    {{#with section}}
    <div class="card">
        <div class="card-body">
            {{#with about_us}}
            {{#with title_list}}
            <div class="text-end display-6">{{main}}</div>
            <br>
            <h2 class="text-end">{{sub}}</h2>
            <br>
            {{/with}}
            <br>
            <button type="button" class="btn btn-outline-info">{{button.text}}</button>
            {{/with}}
        </div>
    </div>

    <br>
    <br>

    <div class="card">
        <div class="card-body">
            {{#with advantage}}

            <div class="text-muted display-5">{{title}}</div>
            <br>

            <div class="card">
                <div class="card-body">
                    {{#with efficiency}}
                    <div class="text-muted display-4">{{title}}</div>
                    <br>
                    <h6>{{sub_title}}</h6>
                    <p>{{description}}</p>
                    <br>
                    <button type="button" class="btn btn-outline-warning">{{button}}</button>
                    {{/with}}
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    {{#with innovation}}
                    <div class="text-muted text-center display-4">{{title}}</div>
                    <br>
                    <h6 class="text-center">{{sub_title}}</h6>
                    <p class="text-center">{{description}}</p>
                    <br>
                    <button type="button" class="btn btn-outline-warning">{{button}}</button>
                    {{/with}}
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    {{#with collaboration}}
                    <div class="text-muted text-end display-4">{{title}}</div>
                    <br>
                    <h6 class="text-end">{{sub_title}}</h6>
                    <p class="text-end">{{description}}</p>
                    <br>
                    <button type="button" class="btn btn-outline-warning">{{button}}</button>
                    {{/with}}
                </div>
            </div>
            <br>
            {{/with}}
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            {{#with agreement}}
            <div class="display-5">{{title}}</div>
            <br>

            <div class="card">
                <div class="card-body">
                    {{#with info}}
                    <h5>{{sub_title}}</h5>
                    <br>

                    <div class="card">
                        <div class="card-body">
                            {{#with detail}}
                            <p>{{text}}</p>
                            <br>
                            <button type="button" class="btn btn-success">{{button}}</button>
                            {{/with}}
                        </div>
                    </div>

                    {{/with}}
                </div>
            </div>


            {{/with}}
        </div>
    </div>

    {{/with}}
</section>