<div>

    <hr class="my-5">

    <div class="row">
        {{#each footer}}

        <ul class="col-2 nav flex-column">

            {{#each this}}
            {{#if @last}}
            <li class="nav-item">
                <div class="nav-link">
                    <a href="{{link}}" class="btn btn-link btn-sm text-start disabled ">{{text}}</a>
                </div>
            </li>
            {{else}}
            <li class="nav-item">
                <div class="nav-link">
                    <a href="{{link}}" class="btn btn-link btn-sm text-start">{{text}}</a>
                </div>
            </li>
            {{/if}}
            {{/each}}

        </ul>
        {{/each}}

    </div>

</div>